* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  padding: 20px 10px;
  margin: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: 400;
}
tr {
  border: 2px solid wheat;
}
td {
  padding: 10px 20px;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  align-items: center;
  width: 100%;
}
#form {
  display: none;
}

#form.visible {
  display: block;
}

button {
  font-size: small;
  font-weight: 400;
  background-color: lightblue;
  outline: none;
  border: none;
  padding: 5px 6px;
  display: inline-block;
  cursor: pointer;
  margin: 5px;
  border-radius: 7px;
}
.form {
  width: 100%;
  margin-top: 30px;
}
form {
  max-width: 500px;
  margin: auto auto;
}
input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #45a049;
}
